.column-container {
  border: solid 1px green;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding-top: 60px;
}

.column {
  display: inline-block;
  border: solid 1px black;
  flex: 1;
  padding: 20px;
  height: 100%;
}
